# Configuration file

general {
    S:itemAttackClassifications <
     >
    S:itemUseClassifications <
     >
    S:keepArmorAsVanilla <
     >
    S:keepEntityAsVanilla <
     >
    B:performSpinAttack=true
    B:showArrowTrails=true
    B:showSwordTrail=true
}


server {
    # Does the server allow the use of bends packs?
    B:bendsPacksAllowed=true

    # Does the server allow scaling of the player model more than the normal size?
    B:modelScalingAllowed=false

    # Does the server limit excessive bends pack transformation?
    B:movementLimited=true
}


